todo.md
.env
__pycache__/
.vscode

*.joblib
*.txt
!requirements.txt
*.log
test.py
utils/*
!utils/rand_utils.py
*.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml