gunicorn==20.1.0
pandas
numpy
httptools
uvloop
coverage
pytest
httpx
trio
pytest-asyncio
pytest-trio
uvicorn
fastapi
python-decouple==3.3
faunadb==4.1.0
coinbase==2.1.0
boto3==1.17.54
pystan==2.19.1.1
fbprophet==0.7.1
redis
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability